.about {
	&__bg {
		background-image: url("img/blue-bg.png");
		background-size: auto;
		background-position: center bottom;
		background-repeat: no-repeat;
		z-index: -2;
		padding-top: 60rem;

		@include tablet {
			background-size: cover;
			padding-top: 0rem;
		}
	}
	&__container {
		flex-direction: column;
		z-index: 10;
	}

	&__statistics {
		display: flex;
		padding: 30rem 150rem;
		gap: 185rem;

		@include tablet {
			gap: 80rem;
		}

		@include tablet-small {
			gap: 60rem;
			padding: 40rem 60rem;
		}

		@include tablet-small {
			gap: 20rem;
			padding: 20rem 40rem;
		}

		@include mobile {
			padding: 0;
			padding-bottom: 20rem;
			gap: 15rem;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20rem;

		@include mobile {
			gap: 5rem;
		}
	}

	&__num {
		font-weight: 800;
		font-size: 55rem;
		color: var(--accent-color-secondary);

		@include tablet {
			font-size: 45rem;
		}

		@include mobile {
			font-size: 35rem;
		}

		&-desc {
			font-family: var(--second-family);
			font-weight: 600;
			font-size: 25rem;
			text-align: center;
			@include tablet {
				font-size: 22rem;
			}

			@include mobile {
				font-size: 18rem;
			}
		}
	}
}
