.projects {
	&__container {
		flex-direction: column;
	}

	&__group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 65rem;
		grid-row-gap: 65rem;

		@include desktop-small {
			grid-column-gap: 45rem;
			grid-row-gap: 45rem;
		}
		@include tablet {
			grid-template-columns: 1fr;
			grid-row-gap: 25rem;
		}

		@include mobile {
			grid-row-gap: 20rem;
		}
	}
	&__item {
		background: var(--primary-color);
		text-align: left;
		display: flex;
		flex-direction: column;
		padding: 25rem;
		max-width: 500rem;
		width: 100%;
		border-radius: 30rem;

		box-shadow: 0 0 40rem 0 #ef474da8;

		transition: opacity 0.3s ease, transform 0.3s ease;

		@include desktop-small {
			max-width: 400rem;
		}

		@include tablet {
			max-width: 500rem;
		}

		@include mobile {
			max-width: 350rem;
			padding: 25rem;
		}

		&__img-container {
			overflow: hidden;
			position: relative;
			max-width: fit-content;
			height: 270rem;
			border-radius: 20rem;

			@include desktop-small {
				height: 200rem;
			}

			@include tablet {
				height: 230rem;
			}

			@include mobile {
				height: 150rem;
			}
		}

		&__img-container img {
			width: 100%;
			height: auto;
			object-fit: cover;
			transition: transform 0.5s ease;
		}

		&__img-container:hover img {
			transform: scale(1.2);

			@include tablet {
				transform: none;
			}
		}

		&-title {
			margin-top: 40rem;

			font-family: var(--second-family);
			font-weight: 700;
			font-size: 25rem;
			line-height: 135%;
			color: var(--accent-color-primary);

			@include tablet {
				font-size: 22rem;
			}

			@include mobile {
				font-size: 20rem;
				margin-top: 20rem;
			}
		}

		&-desc {
			font-family: var(--second-family);
			font-weight: 300;
			font-size: 20rem;
			margin-top: 5rem;

			span {
				color: var(--accent-color-primary);
			}

			@include tablet {
				font-size: 18rem;
			}

			@include mobile {
				font-size: 16rem;
			}
		}

		&-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 25rem;
			gap: 10rem;

			@include mobile {
				flex-direction: column;
				align-items: flex-start;
				gap: 15rem;
			}
		}

		&-tags {
			font-weight: 400;
			font-size: 16rem;

			@include mobile {
				font-size: 14rem;
			}
		}

		&-link {
			@extend .projects__item-tags;
			text-decoration: underline;
			text-decoration-skip-ink: none;

			@include mobile{
				align-self: flex-end;
			}
		}
	}

	&__item.hidden {
		opacity: 0;
		transform: scale(0.9);
	}
}
