.services {
	&__bg {
		background-image: url("img/red-bg.png");
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: auto;

		@include tablet {
			background-image: none;
		}
	}
	&__container {
		flex-direction: column;
	}

	&__group {
		display: flex;
		gap: 65rem;

		@include desktop-small {
			gap: 45rem;
		}
		@include tablet {
			gap: 25rem;
		}

		@include tablet-small {
			flex-direction: column;
		}
		@include mobile {
			flex-direction: column;
			gap: 20rem;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 50rem 0 #ef474da8;
		padding: 85rem 45rem 65rem 45rem;
		border-radius: 30rem;
		transition: background-color 0.5s ease-in-out;
		background: var(--primary-color);
		width: 100%;
		max-width: 400rem;
		flex: 1 1 400rem;
		box-sizing: border-box;

		@include desktop-small {
			padding: 65rem 25rem 45rem 25rem;
		}

		@include tablet {
			padding: 45rem 20rem 35rem 20rem;
			max-width: 500rem;
			flex: 1 1 220rem;
			width: 100%;
		}

		&-title {
			font-family: var(--second-family);
			font-weight: 700;
			font-size: 25rem;
			line-height: 135%;
			text-align: center;
			margin-top: 20rem;

			@include tablet {
				font-size: 22rem;
			}

			@include mobile {
				font-size: 20rem;
			}
		}

		&-desc {
			font-family: var(--second-family);
			font-weight: 300;
			font-size: 20rem;
			text-align: center;
			margin-top: 5rem;
			max-width: 255rem;

			@include tablet {
				font-size: 18rem;
				max-width: 300rem;
			}

			@include mobile {
				font-size: 16rem;
			}
		}
	}

	&__block:hover {
		background: var(--accent-color-primary);

		@include tablet {
			background: var(--primary-color);
		}
	}

	&__block:hover .icon {
		filter: brightness(0) invert(1);

		@include tablet {
			filter: none;
		}
	}
}
