.roll-in-blurred-top {
	-webkit-animation: roll-in-blurred-top 1.6s cubic-bezier(0.23, 1, 0.32, 1)
		both;
	animation: roll-in-blurred-top 1.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes roll-in-blurred-top {
	0% {
		-webkit-transform: translateY(-800px) rotate(-720deg);
		transform: translateY(-800px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes roll-in-blurred-top {
	0% {
		-webkit-transform: translateY(-800px) rotate(-720deg);
		transform: translateY(-800px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotate(0deg);
		transform: translateY(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
